body {
  background-image: url(https://c.pxhere.com/photos/2d/0e/contre_jour_forest_nature_sunbeams_sunset_trees-919282.jpg!d);
  background-size: cover;
  background-attachment: fixed;
}


.usid {
  margin-left:
}

.pass {
  margin-right:12px
}

.name {
  margin-left:12px
}
 .ctry {
   margin-right:55px
 }

.zico {
  margin-right:7px
}

.mail {
  margin-left:15px
}

.gend {
  margin-right:60px
}

.lang {
  margin-right:95px
}

.bout {
  margin-right:10px
}
